%p
  #{@agent.name}님! 안녕하세요. 세상을 바꾸는 시민들의 일상 정치 플랫폼,
  %a(href='http://govcraft.org/' target="_blank" style='color: #1779f3; text-decoration: none;') 빠띠 가브크래프트
  입니다.
%p
  #{@agent.name}님의 비밀번호를 새로 만듭니다.
  %br
  아래 버튼을 클릭하면 비밀번호 재설정이 완료됩니다.

%p{ style: 'text-align: center' }
  %a{:href => create_access_token_agent_url(@agent, refresh_access_token: @agent.refresh_access_token), :style => "font-size: 14px; display: inline-block; color: #22be34; background: none; border-radius: 3px; padding: 16px 20px; text-decoration: none; outline: 0px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; border-width: 2px; border-style: solid; border-color: #22be34;_display:inline", :target => "_blank"} 비밀번호 생성

%p{ style: 'text-align: center' }
  %strong 비밀번호 재설정을 요청하지 않았다면 무시해주세요.

%div(style="margin-top: 60px;")
  %table
    %tr
      %td
        %a(href='http://govcraft.org/')
          %img(src="#{Rails.application.config.action_mailer.asset_host}/email_logo.png" width="40" height="40")
      %td(style="padding-left: 12px;")
        %a(href='http://govcraft.org/' target="_blank" style='color: #777; text-decoration: none;')
          세상을 바꾸는 시민들의 일상 정치 플랫폼
          %br
          %strong '빠띠 가브크래프트'
          http://govcraft.org/
