- speaker = opinion.speaker
.ui.raised.segment[opinion]
  %h4.ui.header
    = opinion.quote
  .opinion__body
    - if opinion.body.present?
      != simple_format opinion.body
    - else
      %p{ style: 'color: #aaa' } 상세한 #{Opinion.model_name.human}은 아직 없습니다.
.text-center
  = render 'votes/panel', votable: opinion, show_voters: true
