%section#discussions-section
  .container
    .page-header
      %h2 토론

    .row
      .col-sm-12
        = link_to '토론 글쓰기', new_campaign_discussion_path(@campaign), class: 'btn btn-default btn-sm'

    %table.table{ style: 'margin: 28px 0;'}
      %thead
        %tr
          %th.text-center 번호
          %th 제목
          %th 글쓴이
          %th.text-right 조회수
          %th.text-center 시간
      %tbody
        = render @discussions

    .row
      .col-sm-2
        = link_to '토론 글쓰기', new_campaign_discussion_path(@campaign), class: 'btn btn-default btn-sm'

