%section#commentable-block.page-block
  .container
    .panel.panel-default.panel-post
      .panel-heading
        %h2
          = link_to @commentable do
            %small.label.label-danger
              = @commentable_model.model_name.human
            = @commentable.try(:title)

%section#comments-block.page-block.post-block
  .container
    .post-block__comments.post-block__comments__no-form
      = render 'comments/list', commentable: @commentable, comments: @comments, show_form: params[:show_form]
