- if issue.following?(current_user)
  .dropdown
    %a.dropdown-toggle.btn.btn-primary.btn-block{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", style: 'color: white;' }
      관심이슈
    %ul.dropdown-menu
      %li
        = link_to issue.following_of(current_user), method: :delete, remote: true do
          관심끊기
- else
  - if user_signed_in?
    = link_to '관심이슈등록', following_issues_path('following_issue[issue_id]': issue.id), method: :post, remote: true, class: 'btn btn-default btn-inverted btn-block'
  - else
    = link_to '관심이슈등록', new_user_session_url, class: 'btn btn-default btn-inverted btn-block'
