%section.cover-section{style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));"}
  .ui.container
    %h1.ui.center.aligned.huge.header.inverted.text-keep-all
      .ui.red.label= Agenda.model_name.human
      %br
      - issue.agendas.each do |agenda|
        = link_to agenda, style: 'color: white' do
          = agenda.name

