.panel.panel-default[issue]
  .panel-body
    %h4.text-center{ style: 'margin-top: 0; border-bottom: 1px solid #dedede; padding-bottom: 7px; margin-bottom: 14px;' }
      = issue.title

    %div
      = render partial: 'users/thumbnail', collection: issue.followers
