%section#issues.page-block
  .container
    %h3= Issue.model_name.human
    - agenda.issues.each do |issue|
      %h4= issue.title
      .section
        .row.masonry-container
          - opinions = issue.opinions.recent
          - if local_assigns[:speaker].present?
            - opinions = opinions.where(speaker: speaker)
          = render opinions
        - if opinions.empty?
          %p 아직 #{Opinion.model_name.human}이 없습니다.
