%section.page-block
  .container
    %section
      .page-header
        %h2= "##{@issue.title}"

    %section{ style: 'margin-bottom: 28px;'}
      = render partial: 'users/thumbnail', collection: @issue.followers, as: :user

    %section{ style: 'padding: 28px; background-color: #f5f5f5; border-radius: 6px'}
      = render 'comments/list', commentable: @issue
