%section#article.page-block
  .container
    %h4
      = Article.model_name.human
      %small
        = link_to "글쓰기", new_article_path

    - if @articles.any?
      .panel.panel-default.panel-floating
        %ul.list-group.post-group
          = render @articles

    - unless @articles.any?
      .text-muted
        아직 뉴스가 없습니다. 같이 볼 뉴스 하나 올려주세요.

    .text-center
      = paginate @articles
