%section.page-block
  .container
    .page-header
      %h3
        %strong= @archive.title
        자료 추가
        - if params[:category_slug].present? and @archive.category_by_slug(params[:category_slug]).present?
          \- #{@archive.category_by_slug(params[:category_slug]).name} 카테고리
    = render 'form'
