- btn_class = 'btn btn-like '
- if likable?(likable)
  = link_to likes_path(like: { likable_id: likable.id, likable_type: likable.class.name}), method: :post, remote: true, class: btn_class + 'btn-default', id: like_btn_dom_id(likable) do
    %i.fa.fa-heart
    %span.likes__count= likable.merged_likes_count > 0 ? likable.merged_likes_count : '공감'
- else
  = link_to likes_path(like: { likable_id: likable.id, likable_type: likable.class.name}), method: :delete, remote: true, class: btn_class + 'btn-primary', id: like_btn_dom_id(likable) do
    %i.fa.fa-heart
    %span.likes__count= likable.merged_likes_count > 0 ? likable.merged_likes_count : '공감'
