*{
    font-family:AppleSDGothic,"apple sd gothic neo","noto sans korean","noto sans korean regular","noto sans cjk kr","noto sans cjk","nanum gothic","malgun gothic",dotum,sans-serif;
}
.container{
    width:620px;
    margin:0 auto;
}
.header{
    text-align:left;
}
.header > p{
    font-size:13px;
}
.content h3{
    color:#445AB3;
}
.sub-content a {
    text-decoration: none;
}
.sub-title{
    background-color:#eee;
    color: #777;
    padding:15px;
    margin:8px 0px;
    box-shadow:1px 1px 0px 2px #ddd;
}
.content-title{
    margin-top:30px;
    border-top: 2px solid #eee;
    padding:10px;
    color:#989898;
    font-size:14px;
    font-weight:500;
}
.link-btn{
    font-size:12px;
    padding:3px 7px;
    border-radius:3px;
    color:#fff;
    margin:3px;
    text-decoration:none;
}
.footer{
    text-align:center;
    font-size:12px;
    margin-top:50px;
    margin-bottom:20px;
    line-height:20px;
}
.footer > h3{
    margin-bottom:3px;
}
.footer > h3 a {
    color:#4A5DD0;
    text-decoration:none;
}
