- removable = ! [0, 1].include?(f.options[:child_index])
.form-group.nested-fields
  %div{ class: ('input-group' if removable) }
    = f.text_field :body, { class: 'form-control' }.merge(local_assigns[:input_data] || {})
    - if removable
      = link_to_remove_association f, class: 'input-group-addon cursor-pointer' do
        &times;
