- if events.any?
  .container
    .page-header
      %h3= local_assigns[:title_label] || Event.model_name.human

    .row.masonry-container
      - events.each do |event|
        .col-md-4.col-sm-6.col-xs-12
          .card[event]
            .card-image{ style: "height: 200px; background-image: url(#{event.image_url(:md)}); background-size: cover; background-position: top center;"}
              %span.label.label-warning.label-ribbon-left= Event.model_name.human
            .card-content
              = link_to event.title, event, class: 'header'
