%section.page-block
  .container
    .row.masonry-container
      - @events.each do |event|
        .col-sm-6
          %div[event]
            .img{ style: "background-image: url(#{event.image_url(:lg)})" }
            %h3= link_to event.title, event
            %div= strip_tags event.body
