@import "variables";
@import "organizations/urimanna/variables_urimanna";
@import "organizations/urimanna/urimanna";

.urimanna{
  background-size:cover;
  h2{
    font-size:40px;
    font-weight:bold;
    color:white;
    margin-top:100px;
  }
  p{
    font-size: 18px;
    font-weight: 300;
    color: $gray-light;
    margin-top:20px;
  }
}
.urimanna{
  height:415px;
}
#urimanna_menu{
  display:inline-block;
  font-weight:bold;
  font-size:16px;
  a{
    color:$gray-dark;
    margin-right:40px;
    &:hover{
      color:$brand-primary
    }
  }
  @media (max-width: $screen-sm-min) {
    display:none;
  }
}
