- issue = following_issue.issue
%span[following_issue]
  = link_to issue.title, issue
  %small.text-muted
    %i.fa.fa-user-o
    = issue.followers.count
  %small
    - if can? :destroy, following_issue
      = link_to '삭제', following_issue, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'}

:css
  .following_issue {
    border: 1px solid #c0c0c2;
    border-radius: 36px;
    display: inline-block;
    font-size: 18px;
    padding: 14px;
    margin-right: 7px;
    margin-bottom: 7px;
  }
  .following_issue:hover {
    border-color: #4a5dd0;
    cursor: pointer;
  }