%span[following_issue]
  = following_issue.issue.title
  %small
    - if can? :destroy, following_issue
      = link_to '삭제', following_issue, method: :delete, data: { confirm: 'Are you sure?'}

:css
  .following_issue {
    border: 1px solid #c0c0c2;
    border-radius: 36px;
    display: inline-block;
    font-size: 18px;
    padding: 14px;
    margin-right: 7px;
    margin-bottom: 7px;
  }
  .following_issue:hover {
    border-color: #4a5dd0;
    cursor: pointer;
  }