%section#parti-section
  .container.text-center
    %h2 인물

%section#events.page-block
  .container.text-center
    .row
      - Agent.tag_counts_on(:positions).each do |position|
        - btn_class = params[:position] == position.name ? 'btn-primary' : 'btn-default'
        = link_to agents_path(position: position.name), class: 'btn btn-lg ' + btn_class do
          = position.name
          (#{position.count})

%section#events.page-block
  .container
    .row
      - @agents.each do |agent|
        .col-xs-6.col-sm-3
          = render agent
