%section#parti-section
  .container.text-center
    %h2 인물

%section#events.page-block
  .container.text-center
    .row
      - Position.all.each do |position|
        - btn_class = params[:position_name] == position.name ? 'btn-primary' : 'btn-default'
        = link_to agents_path(position_name: position.name), class: 'btn btn-lg ' + btn_class do
          = position.name
          (#{position.agents.count})

%section#events.page-block
  .container
    .row
      - @agents.each do |agent|
        .col-xs-6.col-sm-3
          = render agent
