%section#site-hero-block
  .container
    .jumbotron
      %h2 우리가 주인이당! Would You Party?
      %p
        직접 민주주의 프로젝트 정당 "우주당"은
        자발적인 재능 낭비로 만드는 시민들의 놀이터입니다.

%section.page-block
  .container
    .well.well-mute
      %p
        %h4 우주당 그룹 / 채팅방
        %p
          = link_to 'https://www.facebook.com/groups/1820856674866416/', target: '_blank' do
            %i.fa.fa-facebook-official
            페이스북 그룹
        %p
          = link_to 'http://slack.wouldyouparty.org/', target: '_blank' do
            %i.fa.fa-slack
            슬랙
