%section#site-hero-block
  .container
    .jumbotron
      %h2 우리가 주인이당! Would You Party?
      %p
        시민이 만드는 정치개혁 프로젝트 정당. 지금 정당 하나 하실래요?

%section
  .container
    .row
      .col-sm-6
        .well.well-mute
          %h4 우주당 - 우리가 주인이당! - 은
          %p
            시민이 모여 대안을 만드는 시민 주도의 정치 개혁 프로젝트입니다.
            (정당법의 정당과는 무관합니다)
          %p
            시민이면 누구나 캠페인을 만들어
            정치, 사회, 경제, 사회 각 분야의 여러 이슈들을
            시민 주도로 해결합니다.
            지금 곧 어떤 캠페인이 있나 둘러보세요.
          %p
            = link_to "#{Campaign.count}개의 캠페인 목록 보기", campaigns_path, class: 'btn btn-primary'

      .col-sm-6
        .well.well-mute
          %p
            %h4 우주당 그룹 / 채팅방
            %p
              = link_to 'https://www.facebook.com/groups/1820856674866416/', target: '_blank' do
                %i.fa.fa-facebook-official
                페이스북 그룹
            %p
              = link_to 'http://slack.wouldyouparty.org/', target: '_blank' do
                %i.fa.fa-slack
                슬랙