%section#site-hero-block
  .container
    .jumbotron
      %h2 국민이 갑이당.
      %p
        시민이 만드는 새로운 정치, 가브크래프트
        %br
        = link_to '함께 운영하기', '/campaigns/1', class: 'btn btn-primary'


%section.page-block
  .container
    %h4 진행중인 캠페인
    .row
      - @campaigns.each do |campaign|
        .col-sm-4
          = render campaign

- if user_signed_in?
  %section#issues.page-block
    .container
      %h4 나의 관심 토픽

      .following-issues{ style: 'margin-bottom: 14px;' }
        - current_user.following_issues.each do |following_issues|
          = render following_issues
      = render 'following_issues/form'

