%section#page-home
  %section#issues
    .container
      %section
        .page-header
          %h2 나의 관심 이슈

      - if user_signed_in?
        %section
          .following-issues{ style: 'margin-bottom: 14px;' }
            - current_user.following_issues.each do |following_issues|
              = render following_issues
          = render 'following_issues/form'

