%section#page-home
  %section#issues
    .container
      %h1 관심 이슈
      - if user_signed_in?
        = render 'following_issues/form'
        .following-issues
          - current_user.following_issues.each do |following_issues|
            = render following_issues

