%section#polls-section.page-block
  .container
    .row
      .col-xs-6
      .col-xs-6
        = link_to "#{Poll.model_name.human} 제안하기", new_campaign_poll_path(@campaign), class: 'btn btn-default btn-sm'

    %table.table{ style: 'margin: 28px 0;'}
      %thead
        %tr
          %th.text-center 번호
          %th 제목
          %th 글쓴이
          %th.text-right 조회수
          %th.text-center 시간
      %tbody
        = render @polls
