.column
  .ui.card.fluid
    .image{ style: "height: 140px; background-image: url(#{project.image_url(:md)}); background-size: cover; background-position: center center;" }
      %a.ui.red.ribbon.label= Project.model_name.human
    .content
      = link_to project.title, project, class: 'header'
      .meta
        %span
          #{project.user.nickname}님의 제안
      .description
      .extra

