.col-md-4.col-sm-4.col-xs-12
  .project-card
    .card-image{ style: "height: 200px; background-image: url(#{project.image.md.url}); background-size: cover; background-position: center center;" }
    = link_to project, html_options = {class:'project-link'} do
      .project-title
        = project.title
      .project-meta
        %span
          #{project.user.nickname}님의 제안
