%section
  .container
    %h3.sub-title
      = Project.model_name.human
      - if params["c"].present?
        >
        = ProjectCategory.find(params["c"]).title
      %small.pull-right
        = link_to '프로젝트 만들기', new_project_path, class: 'btn btn-default' if can? :create, Project
    .row
      - if @projects.nil?
        .col-md-12.text-center{style:"margin:20px 0px 100px 0px;"}
          조건에 맞는 프로젝트가 없습니다.
      - else
        = render @projects
