- if agenda_theme.slug == '2017-president'
  %section
    .embed-responsive.embed-responsive-16by9{ style: "background-image: url(#{image_url('events/2017-president.jpg')});background-size:cover; " }
    %div{ style: 'background-color:rgba(0,0,0,.85); padding: 2em 0; color: #fff; font-weight: 100;' }
      .container
        %h2{ style: 'font-weight: 100; margin-bottom: 8px;' }
          2017대선오디션
        %h3{ style: 'font-weight: 100; margin-top: 8px;' }
          새로운 대한민국을 이끌 적임자는 누구? 시민이 직접 검증하고 선택해요!
        %p
          2017 대통령 선거. 우리는 변화와 희망에 투표합니다.
        %p
          촛불대선, 새로운 대한민국을 만들기 위해 바꾸어야 할 과제들이 많지요. 대선 후보자들이 과거와 현재 어떤 입장을 갖고 있는지 제대로 뜯어보고 살펴보고, 찬/반을 선택해주세요. (* 이슈와 후보자별 검증 내용은 계속 업데이트 됩니다)
        %p
          * 대선 후보자별 정책검증은
          %u 2017대선주권자행동
          과
          %u 직접민주주의 프로젝트정당 <우주당>
          이 함께 합니다

- else
  %section.cover-section{style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{asset_url('default-image.png')});"}
    .container
      %h1
        = link_to theme_agendas_path(theme_slug: agenda_theme.slug), style: 'color: white' do
          = agenda_theme.title
