- if theme_tag == '2017-president'
  %section
    .jumbotron{ style: 'margin-bottom: 0'}
      .container
        %h2 2017대선주권자행동 후보별 정책 검증
        %p
          2017 대통령 선거. 우리는 변화와 희망에 투표합니다.
        %p
          민의를 외면하는 정치, 무소불위 검찰·국정원·언론, 돌봄과 안전 없는 사회, 위협받는 여성과 인권, 환경 그리고 평화. 새로운 대한민국을 위해 바꾸어야 할 과제들이 많지요. 후보자들이 과거와 현재 어떤 입장을 갖고 있는지 제대로 뜯어보고 살펴보고 선택해요. (* 이슈와 후보자별 검증 내용은 계속 업데이트 됩니다)
        %p
          * 이 특집은
          %strong= link_to '2017대선주권자행동', 'http://wouldyouparty.org/p/2017Votefor'
          과
          %strong 직접 민주주의 프로젝트 정당 우주당
          이 함께 합니다

- else
  %section.cover-section{style: "background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(#{asset_url('default-image.png')});"}
    .container
      %h1
        = link_to theme_agendas_path(theme_tag: theme_tag), style: 'color: white' do
          = human_theme_name(theme_tag)
