.container-fluid
  %h3.sub-title
    - if @project.present?
      = local_assigns[:title_label] || @project.try(:component_title, 'story')
    - else
      = Story.model_name.human

  - if @stories.any?
    .row.masonry-container
      = render @stories
