%section#townhalls-in-project
  .container
    %h3.sub-title
      타운홀
    .row
      .col-sm-6
        %div
          .townhall-card
            .options-panel
              .header
                %h4
                  정책배틀 ROUND2. 국민소환제 도입 찬성 VS 반대
              .body
                .panel.panel-default
                  .panel-body
                    2018년 1월 27일 국민소환제 도입 찬반을 주제로 정책배틀이 열립니다! 각각의 입장을 지닌 패널들의 이야기를 듣고 토론하며 자신의 생각을 정해보세요.
                    %br
                    %br
                    \- 신청하기 : 링크
                .ui.list{ style: "opacity: 0.4;" }
                  .item
                    .content.option
                      .header
                        .option-body
                          국민소환제 도입 찬성
                      .description
                        .chart
                          %span.chart__label 0표
                          .chart__bar{ style: "width: 0%"}
                  .item
                    .content.option
                      .header
                        .option-body
                          국민소환제 도입 반대
                      .description
                        .chart
                          %span.chart__label 0표
                          .chart__bar{ style: "width: 0%"}
              .footer
                아직 행사가 시작하지 않았습니다.
      .col-sm-6
        %div
          .townhall-card
            .options-panel
              .header
                %h4
                  정책배틀 ROUND1. 징병제 VS 모병제
              .body
                .panel.panel-default
                  .panel-body
                    2018년 1월 20일 징병제 VS 모병제 주제로 정책배틀이 열립니다! 각각의 입장을 지닌 패널들의 이야기를 듣고 토론하며 자신의 생각을 정해보세요.
                    %br
                    %br
                    \- 신청하기 : 링크
                .ui.list
                  .item
                    .content.option
                      .header
                        .option-body
                          징병제
                      .description
                        .chart
                          %span.chart__label 4표
                          .chart__bar{ style: "width: 50%"}
                  .item
                    .content.option
                      .header
                        .option-body
                          모병제
                      .description
                        .chart
                          %span.chart__label 8표
                          .chart__bar{ style: "width: 100%"}
              .footer
                행사가 종료되었습니다
                &middot;
                총투표 12명
