%section.page-block
  .container
    %h3
      우주운영
    %section
      %ul.list-group
        %li.list-group-item= link_to '일꾼', admin_roles_path
        %li.list-group-item= link_to '댓글', admin_comments_path
