#rebootkorea-project {
  .platform-card {
    background-size: cover;
    background-position: center center;
    border-radius: 12px;
    height: 300px;
    padding: 24px;
    padding-top: 48x;
    margin-bottom: 36px;

    a {
      text-decoration: none;
    }

    &__title {
      color: #fff;
      font-size: 48px;
      text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      word-break: keep-all;
      @media (max-width: $screen-xs-max) {
        font-size: 32px;
      }
    }
    &__description {
      color: #fff;
      font-size: 18px;
      text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }
  }
}
