- if params[:controller] == 'projects'
  %section.cover-section#rebootkorea-project{style: "background-color: #383838; background-image: none !important"}
    .container
      %h3.cover-section__title= project.title
      .cover-section__body{ style: 'text-align:center; padding: 20px; margin: 0 auto; font-size: 15px; word-break: keep-all;'}
        - if project.subtitle.present?
          %h3= project.subtitle

        = raw project.body

      = render 'projects/header_admin_menu', project: project
