- set_meta_tags title: '국민개헌넷', description: '국민주도 헌법개정 전국 네트워크는 새로운 한국사회에 대한 국민의 목소리가 개헌안에 담길 수 있기를 요구합니다.', keywords: '국민개헌, 바꿈, 씨알재단, 우리가만드는대한민국, 빠띠, 개헌, 국민, 민주주의, 헌법', image_src: image_url('favicons/rebootkorea_seo.png')
