.col-md-4.col-sm-6.col-xs-12
  = link_to archive, html_options = {class:'project-link'} do
    .project-card
      .card-image{ style: "height: 200px; background-image: url(#{archive.cover_image.md.url});" }
      .project-title
        = archive.title
      .project-meta
        %span
          #{archive.documents.count}개의 자료
