%section.page-block
  .container
    %h3
      = Archive.model_name.human
      .pull-right
        %small= link_to "#{Archive.model_name.human} 시작하기", new_archive_path

    .row
      = render @archives

