%h3 투표 대잔치 2018 리부트
%p
  = @user.name
  님께,
  %br/
  %br/
  안녕하세요. 투표대잔치 운영팀입니다.
  %br/
  투표 대잔치에서는 여러분의 지난 데이터를 다시 보여드리려고 합니다. 지난 2012년 대통령 선거 기간 투표 대잔치 데이터를 다시 불러오려면 아래 링크를 클릭해주세요.
  %br/
  = link_to "#{confirm_email_voteaward_user_url(@user.confirm_token || 'sample_token')}", confirm_email_voteaward_user_url(@user.confirm_token || 'sample_token')
  %br/
  %br/
  2018년 6월 투표 대잔치(http://voteaward.com) 운영팀 드림
  %br/
  이메일 수신을 원치 않으시면 회신바랍니다.
