%section.page-block
  .container
    .row
      .col-xs-6
        %h4
          캠페인
      .col-xs-6.text-right
        = link_to '새로운 캠페인 시작하기', new_campaign_path, class: 'btn btn-default btn-sm'

    %section
      .row.masonry-container
        - @campaigns.each do |campaign|
          .col-sm-4
            = render campaign
