%section.page-block
  .container
    %h4
      캠페인
      %small
        = link_to '새로운 캠페인 시작하기', new_campaign_path if can? :create, Campaign

    .alert.alert-success
      시민이면 누구나 함께 재능을 낭비할 캠페인을 제안할 수 있습니다.
      캠페인의 목표를 향해 함께
      %u 이야기
      를 나누고,
      %u 투표
      로 함께 결정하고,
      %u 서명
      으로 더 많은 사람들의 힘을 모아보세요.

    %section
      .row
        - @campaigns.each do |campaign|
          .col-sm-12
            = render campaign
