a.ui.button.request-btn {
  height: 100%;
  margin-top: 12px;
}

.answers-list {
  .answer-position {
    padding: 12px 16px;
    margin: 0 -15px;
    background: #F9FAFB;
    font-weight: bold;
  }
  .row {
    @media (min-width: 768px) {
      display: table-row;
      height: 100%;
    }

    .col-sm-4 {
      @media (min-width: 768px) {
        display: table-cell;
        float: none;
        border: 1px solid rgba(34,36,38,0.15);
        + .col-sm-4 {
          border-left: none;
        }
      }
    }
  }
}
