.opinion-speakers-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  .position {
    padding: 12px 16px;
    margin: 0 -15px;
    background: #F9FAFB;
    font-weight: bold;
  }
  .row {
    @media (min-width: 768px) {
      display: table-row;
      height: 100%;
    }

    .col-sm-4 {
      @media (min-width: 768px) {
        display: table-cell;
        float: none;
        border: 1px solid rgba(34,36,38,0.15);
        + .col-sm-4 {
          border-left: none;
        }
      }
    }
  }
}
.speaker-tab-content {
  .tab-pane {
    margin-top: 20px;
  }
}
.panel-opinion {
  .votable-comments-count {
    margin-top: 6px;
    display: block;
  }
}
.opinion-show {
  .votable-comments-count {
    display: none;
  }
}

