.agent-section{
  background-position: top center;
  background-size: cover;
  background: #75a6d8; /* Old browsers */
  background: -moz-linear-gradient(left, #75a6d8 0%, #7453ed 50%, #d3329b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #75a6d8 0%,#7453ed 50%,#d3329b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #75a6d8 0%,#7453ed 50%,#d3329b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a6d8', endColorstr='#d3329b',GradientType=1 ); /* IE6-9 */
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;

  img.agent-img{
    border: 5px solid rgba(255,255,255,0.5);
  }
  .media-heading{
    font-weight: bold;
  }

  .media-body{
    padding: 5px 10px;
    a{
      color: white;
    }
    p{
      font-weight: 200;
      font-size: 18px;
      line-height: 24px;
      span{
        font-weight: 500;
      }
    }
  }
}

.agent-opinion{
  background-color: $gray-light;
  padding: 10px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.card-agent {
  background-size: cover;
  background-position: center center;

  .caption {
    position: absolute;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 1));
    bottom: 0;
    left: 0;
    right: 0;
    color: $gray-light;
    text-align: center;
    padding: $font-size-base;
    margin: 0;
    a {
      color: #fff;
    }
    .card-title, .card-title small {
      font-weight: bold;
    }
    .meta {
      font-size: $font-size-small;
    }
  }
  padding-bottom: 120%;
}
