.jumbotron#archive-header-block {
  background-size: cover;
  background-position: center;
  border: none;
  .badge {
    background-color: $gray-light;
    color: $gray-dark;
    font-weight: normal;
    padding-top: 5px;
    text-shadow: none;
  }
  a {
    color: $gray-lightest;
    &:hover {
      text-decoration: underline;
    }
  }
  .archive__share{
    .jssocials-share:first-child{
      margin-top:-15px;
    }
    .jssocials-share:last-child{
      margin-top:-1px;
    }
  }
}
#archive-category{
  .item{
    line-height:28px;
    .header{
      font-weight:bold;
      color:$brand-primary-dark;
      margin-top:10px;
    }
    .menu{
      margin-left:10px;
      a{
        color:$gray-dark;
        font-wrap:keep-all;
      }
    }
  }
}
#archive_document-block{
  th{
    vertical-align:middle;
    background-color:$gray-lightest;
  }
}
.archive-card {
  .panel-body {
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    .archive__title {
      color: #fff;
      text-shadow: 0px 1px 1px #000;
    }
    .archive__meta {
      color: #fff;
      margin-top: 7px;
      font-size: $font-size-small;
      text-shadow: 0px 1px 1px #000;
    }
  }
}
