.jumbotron#archive-header-block {
  background-color: $gray-dark;
  background-size: cover;
  background-position: center;
  border: none;
  color: $gray-lightest;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);

  .badge {
    background-color: $gray-light;
    color: $gray-dark;
    font-weight: normal;
    padding-top: 5px;
    text-shadow: none;
  }
  a {
    color: $gray-lightest;
    &:hover {
      text-decoration: underline;
    }
  }
  .archive__title, .archive__body, .archive__users {
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }
}

.archive-card {
  .panel-body {
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    .archive__title {
      color: #fff;
      text-shadow: 0px 1px 1px #000;
    }
    .archive__meta {
      color: #fff;
      margin-top: 7px;
      font-size: $font-size-small;
      text-shadow: 0px 1px 1px #000;
    }
  }
}
