.article {
  &__title,
  &__body,
  &__image {
    cursor: pointer;
  }
  &__meta {
    margin-top: 12px;
  }
  &__date {
    color: $gray-light;
  }

  &__sort-panel a {
    color: $gray;
    &.active {
      font-weight: bold;
      color: $brand-primary;
    }
  }
}
