*,
body {
    font-family: 'Source Han Sans KR', 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

@mixin text-stroke {
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

// keep-all
.text-keep-all {
    word-break: keep-all;
}

// 백그라운드 위에 반투명 검은 바탕색을 깝니다.
@mixin texture-darken {
    position: relative;
    &:before {
        content: " ";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-size: 2px 2px;
        right: 0;
    }
}

// linkable div : govcraft-ujs.js의 gov-action-rails-link 참조
.gov-action-rails-link[data-url] {
    cursor: pointer;
}

.btn-primary--inactive {
    @extend .btn-default;
    color: $brand-primary;
    &:focus,
    &.focus {
        color: darken($btn-primary-bg, 5%);
    }
    &:hover {
        color: darken($btn-primary-bg, 5%);
    }
    &:active,
    &.active,
    .open>&.dropdown-toggle {
        color: darken($btn-primary-bg, 5%);
    }
    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    .open>&.dropdown-toggle:hover,
    .open>&.dropdown-toggle:focus,
    .open>&.dropdown-toggle.focus {
        color: darken($btn-primary-bg, 5%);
    }
}

.btn-success--inactive {
    @extend .btn-default;
    color: $brand-success;
    &:focus,
    &.focus {
        color: darken($btn-success-bg, 5%);
    }
    &:hover {
        color: darken($btn-success-bg, 5%);
    }
    &:active,
    &.active,
    .open>&.dropdown-toggle {
        color: darken($btn-success-bg, 5%);
    }
    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    .open>&.dropdown-toggle:hover,
    .open>&.dropdown-toggle:focus,
    .open>&.dropdown-toggle.focus {
        color: darken($btn-success-bg, 5%);
    }
}

.btn-danger--inactive {
    @extend .btn-default;
    color: $brand-danger;
    &:focus,
    &.focus {
        color: darken($btn-danger-bg, 5%);
    }
    &:hover {
        color: darken($btn-danger-bg, 5%);
    }
    &:active,
    &.active,
    .open>&.dropdown-toggle {
        color: darken($btn-danger-bg, 5%);
    }
    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    .open>&.dropdown-toggle:hover,
    .open>&.dropdown-toggle:focus,
    .open>&.dropdown-toggle.focus {
        color: darken($btn-danger-bg, 5%);
    }
}

.btn-default--active {
    @extend .btn-default;
    color: #fff;
    background-color: $btn-default-color;
    &:focus,
    &.focus {
        color: #fff;
        background-color: $gray;
    }
    &:hover {
        color: #fff;
        background-color: $gray;
    }
    &:active,
    &.active,
    .open>&.dropdown-toggle {
        color: #fff;
        background-color: $gray;
    }
    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    .open>&.dropdown-toggle:hover,
    .open>&.dropdown-toggle:focus,
    .open>&.dropdown-toggle.focus {
        color: #fff;
        background-color: darken($gray, 10%);
    }
    &.disabled:hover,
    &.disabled:focus,
    &.disabled.focus,
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].focus,
    fieldset[disabled] &:hover,
    fieldset[disabled] &:focus,
    fieldset[disabled] &.focus {
        background-color: $btn-default-color;
    }
    & .badge {
        color: $btn-default-color;
        background-color: #fff;
    }
}

.btn-primary-sub {
    background-color: $brand-sub;
    color: white;
    &:hover {
        background-color: $brand-sub-light;
    }
}

.btn-inverted{
    &:hover{
        color:$brand-primary;
        background-color:$gray-light !important;
    }
}

//공통 타이틀 스타일
h2.main-title {
    font-weight: 200;
    letter-spacing: -0.04em;
    margin: 30px 0px;
    line-height: 40px;
    span {
        font-weight: 600;
        color: #6435C9;
    }
}

h3.sub-title {
    color: $brand-primary-light;
    font-weight: bold;
    font-size: 24px;
    margin: 40px 0px;
}

//공통 카드 스타일
.component-card{
  border-radius:0px;
  border:1px solid $gray-light;
  margin-bottom:30px;
  overflow:hidden;
  .card-content{
    padding:20px 15px;
    .header{
      font-weight:bold;
      font-size:24px;
      color:$gray-darker;
      &:hover{
        color:$brand-primary-light;
      }
    }
  }
  .card-description{
    color:$gray;
    margin:15px 0px;
  }
  @mixin card-sub($color){
    display:block;
    color:$color;
    font-weight:bold;
    font-size:14px;
    line-height:24px;
  }
  .card-sub a{
    @include card-sub($brand-primary)
  }
  .card-sub span{
    @include card-sub($gray-dark)
  }
}
.card-image {
    background-size: cover;
    background-position: top center;
}

.kakao-share-button {
    font-size: 12px;
    font-weight: bold;
    color: #3c1e1e;
    background-color: #ffeb00;
    height: 20px;
    line-height: 22px;
    width: 100px;
    width: 65px;
    border-radius: 3px;
    &:before {
        background-image: asset_url('icon_katalk.png');
        background-size: 14px 13px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        content: "";
        width: 20px;
        height: 20px;
    }
    &--label {
        vertical-align: top;
    }
}
//컴포넌트 디테일 공통 헤더 스타일
.component-header{
    background-color:$brand-primary-dark;
    height:320px;
    text-align:center;
    color:white;
    padding:40px 0px 0px 0px;
    font-size:36px;
    font-weight:bold;
    @media (max-width: $screen-sm-min) {
        height:400px;
    }
}

.component-box{
    border:1px solid $gray-light;
    padding:40px;
}

//공통 라벨 스타일
.gov-label {
    padding: 12px 55px;
    color: $brand-primary-dark;
    font-size: 16px;
    display: inline-block;
    background-color: $gray-light;
    margin-bottom: 20px;
}

.pagination {
    .prev,
    .next_page {
        @media (max-width: 768px) and (orientation: portrait) {
            display: none;
        }
    }
}

label.error {
    color: $brand-danger;
    font-weight: bold;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 40px;
    >iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $screen-sm-min) {
    .text-right-sm {
        text-align: right;
    }
}

@media (max-width: $screen-xs-max) {
    .margin-xs-12 {
        margin-top: 12px;
    }
}

//
.user-info {
    position: relative;
    top: -40px;
    text-align: center;
    .user-image {
        height: 64px;
        width: 64px;
        display: block;
        border-radius: 64px;
        background-color: black;
        margin-top: 8px;
        background-size: cover;
        position: relative;
        margin: 0 auto;
    }
    a {
        color: $gray-darker;
        font-size: 16px;
        font-weight: 500;
        display: block;
        line-height: 40px;
    }
}

.user-image-sm{
    height:32px;
    width:32px;
    background-color:black;
    border-radius:32px;
    display:inline-block;
    background-size:cover;
    background-position:center;
    @media (max-width: $screen-sm-min) {
        display:none;
    }
}

//공통 테이블
.table {
    border-top: 2px solid $gray-light;
    border-bottom: 2px solid $gray-light;
    tr {
        height: 59px;
        &:hover {
            background-color: $gray-lightest;
        }
    }
    td {
        vertical-align: middle !important;
        color: $gray-base;
        a {
            color: $gray-dark;
        }
        span.title {
            font-weight: bold;
        }
    }
}

#footer {
    background-color: white;
    border-top: 1px solid $gray-light;
    color: $gray-darker;
    padding-top: $font-size-base;
    padding-bottom: $font-size-base;
    a {
        color: $gray-darker;
        padding-right: 4px;
        &:hover {
            color: $gray;
        }
    }
}

// redactor에서 입력되는 그림의 폭을 제한
figure img {
    max-width: 100%;
}
