.panel-floating {
  border-radius: $border-radius-base;
  box-shadow: 1px 1px 3px rgba(0,0,0,.15);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
  }
}

.page-block {
  padding-top: $font-size-base;
  padding-bottom: $font-size-base;

  .page-header {
    margin-top: 0;
  }
}

.following_issue {
  border: 1px solid #c0c0c2;
  border-radius: 36px;
  display: inline-block;
  font-size: 18px;
  padding: 14px;
  margin-right: 7px;
  margin-bottom: 7px;
  transition: all 0.2s ease-in-out;

  .buttons {
    display: none;
  }
}
.following_issue:hover {
  border-color: #4a5dd0;
  cursor: pointer;
  .buttons {
    display: inline;
  }
}

.btn-join {
  color: #fff;
  display: block;
  line-height: 2.3;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &:hover {
    color: $gray-lightest;
  }
}
.btn-join-facebook {
  background-color: #274aa0;
}
.btn-join-twitter {
  background-color: #469bff;
}

.jssocials-share-link {
  border-radius: 50%;
  font-size: $font-size-large;
}

.well-mute {
  border: none;
}

.bottom-nav {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  & > div {
    width: 20%;
    padding: 15px 10px;
    text-align: center;
  }
  a {
    font-size: $font-size-small;
    color: #ddd;
    line-height: 1.8;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
  }
  i {
    display: block;
    font-size: $font-size-large;
  }
}

.tl-timemarker .tl-timemarker-content-container  {
  width: 180px;
}

.user-thumb {
  width: $font-size-base*1.5;
  height: $font-size-base*1.5;
  border-radius: 50%;
}
.user-thumb-sm {
  width: $font-size-base;
  height: $font-size-base;
  border-radius: 50%;
  vertical-align: middle;
}
