.following_issue {
  border: 1px solid #c0c0c2;
  border-radius: 36px;
  display: inline-block;
  font-size: 18px;
  padding: 14px;
  margin-right: 7px;
  margin-bottom: 7px;
  transition: all 0.2s ease-in-out;

  .buttons {
    display: none;
  }
}
.following_issue:hover {
  border-color: #4a5dd0;
  cursor: pointer;
  .buttons {
    display: inline;
  }
}

.btn-join {
  color: #fff;
  display: block;
  line-height: 2.3;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 270px;
  &:hover {
    color: $gray-lightest;
  }
}
.btn-join-facebook {
  background-color: #274aa0;
}
.btn-join-twitter {
  background-color: #469bff;
}
