.post-block {
  .comment {
    border-top: 1px solid $gray-lighter;
    padding-top: $font-size-base;
    .comment__meta {
      display:table;
      color: $gray-dark;
      font-weight:bold;
      font-size: 14px;
      margin-bottom:12px;
      width:100%;
      .comment__arrow{
        font-size:18px;
        line-height:32px;
        float:left;
      }
    }
    .comment__to-speaker_mobile{
      margin:2px 0px;
      display:none;
      span{
        color:$brand-primary-light;
      }
      @media (max-width: $screen-sm-min) {
        display:block !important;
      }
    }
    .comment__action{
      float:right;
      a{
        margin-right:5px;
        font-size:12px;
        color:$gray;
        &:hover{
          color:$gray-darker;
        }
      }
    }
    .comment__body {
      font-size:14px;
      color:$gray-base;
      h1, h2, h3, h4, h5 {
        font-size: $font-size-base !important;
        margin: 2px 0;
      }
      p {
        margin-bottom: 2px;
      }
      img {
        max-width: 100%;
      }
      .comment__date{
        float:left;
      }
    }
    .comment__choice {
      margin-bottom: 6px;
      display: inline-block;
      border: 1px solid $gray;
      border-radius: $font-size-small;
      font-size: $font-size-small;
      padding: 2px 4px;
      &.agree {
        color: $brand-success;
        border-color: $brand-success;
      }
      &.disagree {
        color: $brand-danger;
        border-color: $brand-danger;
      }
    }
    .comment__user-nm{
      float:left;
      display:inline-block;
      line-height:32px;
      margin:0px 10px 0px 5px;
      @media (max-width: $screen-sm-min) {
        margin:0px 2px 0px 0px !important;
        color:$brand-primary-light;
      }
    }
    .comment__to-speaker{
      display:inline-block;
      @media (max-width: $screen-sm-min) {
        display:none;
      }
    }
  }
}
.btn-comment{
  background-color:$brand-primary-dark;
  color:white;
  font-size:24px;
  width:100%;
  padding:20px;
  &:hover{
    background-color:$brand-primary;
    color:white;
  }
}
.comment.comment-toxic {
  .comment__body::before {
    color: $gray-base;
    background-color: $brand-danger;
    content: '의견 감사합니다. 면밀히 검토하겠습니다.';
    padding: 2px 4px;
  }
}
.comment{
  .panel-body{
    word-break: break-all;
  }
}
