.event {
  .img {
    background-position: center center;
    background-size: cover;
    border: 1px solid $gray-lighter;
    height: 150px;
  }
}

#campaign-events {
  .header {
    background-size: cover;
    background-position: center center;
    h1 {
       color: #fff;
       text-shadow: 1px 1px 2px #000;
       text-align: center;
       margin: 0;
       padding: 130px 0 0 0;
       word-break: keep-all;
    }
  }
  .intro {
    padding: 6rem 2rem;
  }
  .bg-gray {
    background-color: $gray-lightest;
  }
  .container {
    font-size: medium;
    line-height: 1.7;
    h4 {
      line-height: 1.7;
    }
  }
  background-color: #fff;
  .event_block {
    margin: 0;
    padding: 0;
  }
}
