.event {
  .img {
    background-position: center center;
    background-size: cover;
    border: 1px solid $gray-lighter;
    height: 150px;
  }
}

#campaign-events {
  .event_block {
    background-color: $gray-lightest;
    width: 80%;
    border-right: 1px solid #fff;
    opacity: 0.6;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  .event_block:hover {
    opacity: 1;
  }
  .slick-active {
    opacity: 1;
    cursor: default;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: $brand-primary;
    opacity: 0.75;
  }
  .slick-prev {
    position: fixed;
    width: 40px;
    top: 50%;
    left: 1%;
    z-index: 1;
  }
  .slick-next {
    position: fixed;
    width: 40px;
    top: 50%;
    right: 1%;
    z-index: 1;
  }
}
