.event {
  .img {
    background-position: center center;
    background-size: cover;
    border: 1px solid $gray-lighter;
    height: 150px;
  }
}

#campaign-events {
  .header {
    background-size: cover;
    background-position: center center;
    h2 {
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      text-align: center;
      margin: 0;
      padding: 110px 0 0 0;
      font-weight: bold;
      line-height: 1.2;
      word-break: keep-all;
    }
    h3 {
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      text-align: center;
      font-weight: normal;
      padding: 1rem 0 0 0;
      word-break: keep-all;
    }
    @media (max-width: 768px) {
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }
  .intro {
    padding: 6rem 2rem;
  }
  .bg-gray {
    background-color: $gray-lightest;
  }
  .container {
    font-size: medium;
    line-height: 1.7;
    h4 {
      line-height: 1.7;
      font-weight: bold;
      text-align: center;
    }
  }
  background-color: #fff;
  .event_block {
    margin: 0;
    padding: 0;
  }
}
