.event {
  .img {
    background-position: center center;
    background-size: cover;
    border: 1px solid $gray-lighter;
    height: 150px;
  }
}

#campaign-events {
  .header {
    background-size: cover;
    background-position: center center;
    h2 {
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      text-align: center;
      margin: 0;
      padding: 110px 0 0 0;
      font-weight: bold;
      line-height: 1.2;
      word-break: keep-all;
    }
    h3 {
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      text-align: center;
      font-weight: normal;
      padding: 1rem 0 0 0;
      word-break: keep-all;
    }
    @media (max-width: 768px) {
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }
  .intro {
    padding: 6rem 2rem;
  }
  .bg-gray {
    background-color: $gray-lightest;
  }
  .container {
    font-size: medium;
    line-height: 1.7;
    h4 {
      line-height: 1.7;
      font-weight: bold;
      text-align: center;
    }
  }
  background-color: #fff;
  .event_block {
    margin: 0;
    padding: 0;
  }
}

// body {
//   margin: 0;
//   padding: 0;
//   background: #FFF;
//   overflow-x: hidden;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// a {
//   &:hover {
//     text-decoration: none;
//     cursor: pointer;
//   }
//   outline: none !important;
// }

// button {
//   outline: none !important;
// }

// #page-loading-blocs-notifaction {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   z-index: 100000;
//   background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
// }

.page-container--event-speeches {
  .candle-logo {
    width: 500px;
    @media (max-width: 768px) and (orientation: portrait)  {
      width: 300px;
    }
  }
  .bloc.bloc-fill-screen.bgc-white.l-bloc.cover {
    background-image: asset_url('events/speeches/cover.png');
    background-size: cover;
    .cover-body {
      padding-top: 200px;
      padding-bottom: 50px;
      position: initial;
      transform: none;
      -webkit-transform: none;
      top: 0;
    }
    .cover-text {
      font-size: $font-size-h3;
      font-weight: normal;
      line-height: 30px;
      @media (max-width: 768px)  {
        font-size: $font-size-base-xs;
        line-height: 20px;
      }
    }
  }
  .speech-list .speech {
    padding-top: 12px;
    .title {
      margin-bottom: 0;
    }
    .view-count {
      vertical-align: top;
      display: inline-block;
      line-height: 34px;
    }
    .btn-like {
      height: 36px;
      border: none;
      background-color: transparent;
      color: $gray-light;
      padding: 0;
      @media (max-width: 768px) {
        padding-left: 10px;
      }
      margin-top: 6px;
      &.btn-primary {
        i {
          color: lighten(#ea672c, 5%);
        }
      }
    }

  }

  .video-image {
    position: relative;

    img {
      width: 100%;
    }

    .play-circle {
      position: absolute;
      top: 50%;
      color: $gray-lighter;

      top: 50%;
      left: 50%;

      &--large {
        font-size: 80px;
        margin: -40px 0 0 -40px;
      }

      &--medium {
        font-size: 40px;
        margin: -20px 0 0 -20px;
      }
    }
  }

  .bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bloc-lg {
    padding: 100px 50px;
  }

  .bloc-md {
    padding: 50px;
  }

  .bloc-sm {
    padding: 20px 50px;
  }

  .bloc-fill-screen {
    padding-top: 0;
    position: relative;
    height: inherit;
    > .container {
      position: relative;
      top: 60%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    &.bloc-group .bloc {
      vertical-align: middle !important;
    }
    .fill-bloc-top-edge, .fill-bloc-bottom-edge {
      position: absolute;
      margin: 60px auto;
      left: 0;
      right: 0;
      z-index: 1;
      transform: none;
    }
    .fill-bloc-top-edge {
      top: 0;
    }
    .fill-bloc-bottom-edge {
      top: initial;
      bottom: 20px;
    }
  }

  .blocs-hero-btn-dwn {
    width: 58px;
    height: 58px;
    display: block;
    margin: 0 auto;
    line-height: 58px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.6);
    border: 0;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .d-bloc {
    color: rgba(255, 255, 255, 0.7);
    button:hover {
      color: rgba(255, 255, 255, 0.9);
    }
    .icon-round, .icon-square, .icon-rounded, .icon-semi-rounded-a, .icon-semi-rounded-b {
      border-color: rgba(255, 255, 255, 0.9);
    }
    .divider-h span {
      border-color: rgba(255, 255, 255, 0.2);
    }
    .a-btn, .navbar a, .navbar-brand {
      color: rgba(255, 255, 255, 0.6);
    }
    a {
      .icon-sm, .icon-md, .icon-lg, .icon-xl {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a {
      color: rgba(255, 255, 255, 0.6);
    }
    .a-btn:hover, .navbar a:hover, .navbar-brand:hover {
      color: rgba(255, 255, 255, 1);
    }
    a:hover {
      .icon-sm, .icon-md, .icon-lg, .icon-xl {
        color: rgba(255, 255, 255, 1);
      }
    }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
      color: rgba(255, 255, 255, 1);
    }
    .navbar-toggle .icon-bar {
      background: rgba(255, 255, 255, 1);
    }
    .btn-wire {
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
      &:hover {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
      }
    }
    .panel {
      color: rgba(0, 0, 0, 0.5);
      button:hover {
        color: rgba(0, 0, 0, 0.7);
      }
      icon {
        border-color: rgba(0, 0, 0, 0.7);
      }
      .divider-h span {
        border-color: rgba(0, 0, 0, 0.1);
      }
      .a-btn {
        color: rgba(0, 0, 0, 0.6);
        &:hover {
          color: rgba(0, 0, 0, 1);
        }
      }
      .btn-wire {
        color: rgba(0, 0, 0, 0.7);
        border-color: rgba(0, 0, 0, 0.3);
        &:hover {
          color: rgba(0, 0, 0, 0.7);
          border-color: rgba(0, 0, 0, 0.3);
        }
      }
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .l-bloc {
    color: rgba(0, 0, 0, 0.5);
  }

  .d-bloc .panel button:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  .l-bloc {
    button:hover {
      color: rgba(0, 0, 0, 0.7);
    }
    .icon-round, .icon-square, .icon-rounded, .icon-semi-rounded-a, .icon-semi-rounded-b {
      border-color: rgba(0, 0, 0, 0.7);
    }
  }

  .d-bloc .panel .divider-h span, .l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, 0.1);
  }

  .d-bloc .panel .a-btn {
    color: rgba(0, 0, 0, 0.6);
  }

  .l-bloc {
    .a-btn, .navbar a, .navbar-brand {
      color: rgba(0, 0, 0, 0.6);
    }
    a {
      .icon-sm, .icon-md, .icon-lg, .icon-xl {
        color: rgba(0, 0, 0, 0.6);
      }
    }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .d-bloc .panel .a-btn:hover {
    color: rgba(0, 0, 0, 1);
  }

  .l-bloc {
    .a-btn:hover, .navbar a:hover, .navbar-brand:hover {
      color: rgba(0, 0, 0, 1);
    }
    a:hover {
      .icon-sm, .icon-md, .icon-lg, .icon-xl {
        color: rgba(0, 0, 0, 1);
      }
    }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
      color: rgba(0, 0, 0, 1);
    }
    .navbar-toggle .icon-bar {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .d-bloc .panel .btn-wire, .l-bloc .btn-wire {
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.3);
    &:hover {
      color: rgba(0, 0, 0, 0.7);
      border-color: rgba(0, 0, 0, 0.3);
    }
  }

  .voffset {
    margin-top: 30px;
  }

  .row-no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .row.row-no-gutters > {
    [class^="col-"], [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  #bloc-0 h1 {
    font-size: 30px;
  }

  #bloc-3 h3 {
    font-size: 24px;
  }

  #bloc-4 {
    h3 {
      font-size: 18px;
      line-height: 85.71428680419922px;
    }
    p {
      font-size: 14px;
      line-height: 30px;
    }
  }

  #bloc-5 h3 {
    font-size: 18px;
    line-height: 85.71428680419922px;
  }

  #bloc-6 {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      line-height: 40px;
    }
  }

  .navbar {
    margin-bottom: 0;
    z-index: 1;
  }

  .navbar-brand {
    height: auto;
    padding: 15px 15px;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
    img {
      max-height: 200px;
      margin: 0 5px 0 0;
      display: inline;
    }
    padding: 15px 15px;
  }

  .navbar .nav {
    padding-top: 2px;
    margin-right: -16px;
    float: right;
    z-index: 1;
  }

  .nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    text-align: inherit;
  }

  .nav > li a {
    &:hover, &:focus {
      background: transparent;
    }
  }

  .navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0px;
    &:hover {
      background: transparent !important;
    }
    .icon-bar {
      background-color: rgba(0, 0, 0, 0.5);
      width: 26px;
    }
  }

  .nav-invert {
    .navbar .nav {
      float: left;
    }
    .navbar-header, .navbar-brand {
      float: right;
    }
  }

  @media (min-width: 768px) {
    .site-navigation {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
      -webkit-transform: translateY(-50%);
    }
    .nav > li .dropdown-menu a {
      color: #484848;
      &:hover {
        color: #484848;
      }
    }
    .nav-invert .site-navigation {
      left: 20px;
      right: 0;
    }
    .nav-center {
      text-align: center;
      .navbar-header {
        width: 100%;
        float: none;
        display: inline-block;
      }
      .navbar-brand, .nav > li {
        float: none;
        display: inline-block;
      }
      .site-navigation {
        position: relative;
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  .nav > li > .dropdown a {
    background: none !important;
    display: block;
    padding: 14px 15px;
  }

  nav .caret {
    margin: 0 5px;
  }

  .dropdown-menu {
    .dropdown-menu {
      top: -8px;
      left: 100%;
    }
    .dropmenu-flow-right {
      top: 100%;
      left: 0;
      margin-left: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .dropdown span {
      border: 4px solid black;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      margin: 6px -5px 0 0 !important;
      float: right;
    }
  }

  .mg-sm {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  img {
    &.mg-sm, &.mg-md, &.mg-lg {
      margin-top: 0;
    }
    &.mg-sm {
      margin-bottom: 10px;
    }
    &.mg-md {
      margin-bottom: 30px;
    }
    &.mg-lg {
      margin-bottom: 50px;
    }
  }

  .btn {
    margin: 0 5px 5px 0;
    &.pull-right {
      margin: 0 0 5px 5px;
    }
  }

  .btn-d {
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    &:hover, &:focus {
      color: #FFF;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  button {
    outline: none !important;
  }

  .btn-sq {
    border-radius: 0px;
  }

  .btn .caret, .dropdown a .caret {
    margin: 0 0 0 5px;
  }

  .btn-dropdown .dropdown-menu .dropdown {
    padding: 3px 20px;
  }

  .icon-sm {
    font-size: 18px !important;
  }

  .icon-md {
    font-size: 30px !important;
  }

  .icon-round {
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 32px 30px 26px 30px;
    min-width: 80px;
    min-width: 92px;
  }

  .icon-md, .icon-square.icon-md, .icon-rounded.icon-md {
    min-width: 92px;
  }

  .icon-round.icon-lg, .icon-square.icon-lg, .icon-rounded.icon-lg {
    min-width: 122px;
  }

  .icon-round.icon-xl, .icon-square.icon-xl, .icon-rounded.icon-xl {
    min-width: 162px;
  }

  .panel-sq {
    border-radius: 0;
    .panel-heading, .panel-footer {
      border-radius: 0;
    }
  }

  .panel-rd {
    border-radius: 30px;
    .panel-heading {
      border-radius: 29px 29px 0 0;
    }
    .panel-footer {
      border-radius: 0 0 29px 29px;
    }
  }

  iframe {
    border: 0;
  }

  .scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
    span {
      margin-top: 6px;
    }
  }

  .showScrollTop {
    font-size: 14px;
    opacity: 1;
  }

  h1, h2, h3, h4, h5, h6, p, label, .btn, a {
    font-family: "Helvetica";
  }

  .container {
    max-width: 1170px;
  }

  .hero-bloc-text {
    font-size: 55px;
  }

  .lake-hero-bloc {}

  .lake-hero-text {
    font-family: "Josefin Sans";
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .lake-hero-text-sub {
    font-family: "Josefin Sans";
    font-size: 36px;
  }

  .blocs-hero-btn-dwn {
    background-color: rgba(0, 0, 0, 0);
  }

  .statement-bloc-text {
    line-height: 38px;
    font-style: italic;
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
  }

  .blocs-personal-panel {
    max-width: 400px;
    min-height: 400px;
    padding: 40px 10px 40px 10px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    border-width: 0px 0px 0px 0px;
  }

  .blocs-panel-avatar {
    max-width: 100px;
    margin-bottom: 20px;
  }

  .blocs-personal-panel {
    h3 {
      color: rgba(0, 0, 0, 0.8);
      font-family: "Lato";
      font-size: 36px;
      font-weight: 700;
    }
    p {
      color: rgba(0, 0, 0, 0.3);
      font-family: "Lato";
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  .blocs-social-list-v {
    max-width: 220px;
    margin: 0 auto !important;
    li {
      min-width: 30px;
    }
  }

  .mountain-hero-text {
    font-family: "Josefin Sans";
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  }

  .mountain-hero-text-sub {
    font-family: "Josefin Sans";
    font-size: 36px;
  }

  .mountaindusk-hero-text {
    font-family: "Josefin Sans";
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .mountaindusk-hero-text-sub {
    font-family: "Josefin Sans";
    font-size: 36px;
  }

  .mountaindusk-hero-text-s {
    font-size: 60px;
  }

  .mountaindusk-hero-text-sub-s {
    font-size: 34px;
  }

  .bgc-white {
    background-color: #ffffff;
  }

  .bgc-outer-space {
    background-color: #47454A;
  }

  .tc-outer-space {
    color: #47454A !important;
  }

  .tc-deep-carrot-orange {
    color: #EA672C !important;
  }

  .tc-white {
    color: #ffffff !important;
  }

  .btn-dark-jungle-green {
    background: #252427;
    color: #FFFFFF !important;
    &:hover {
      background: #1e1d1f;
      color: #FFFFFF !important;
    }
  }

  .icon-white {
    color: #ffffff !important;
    border-color: #ffffff !important;
  }

  @media (max-width: 1024px) {
    .bloc {
      padding-left: 20px;
      padding-right: 20px;
      &.full-width-bloc {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
      max-width: 80%;
    }
    .nav-center.navbar .nav {
      max-width: 100%;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .b-parallax {
      background-attachment: scroll;
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
    }
    .b-parallax {
      background-attachment: scroll;
    }
    .page-container, #hero-bloc {
      overflow-x: hidden;
      position: relative;
    }
  }

  @media (max-width: 767px) {
    .page-container {
      overflow-x: hidden;
      position: relative;
    }
    h1, h2, h3, h4, h5, h6, p, #disqus_thread {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    #hero-bloc {
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 34px;
      }
      h3 {
        font-size: 25px;
      }
    }
    .bloc {
      padding-left: 0;
      padding-right: 0;
      -webkit-background-size: auto 200%;
      -moz-background-size: auto 200%;
      -o-background-size: auto 200%;
      background-size: auto 200%;
    }
    .b-parallax {
      background-attachment: scroll;
    }
    .navbar {
      .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        float: none !important;
      }
      &.row {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .site-navigation {
      position: inherit;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
    }
    .nav > li {
      margin-top: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.05);
      text-align: left;
      padding-left: 15px;
      width: 100%;
      &:hover {
        background: rgba(0, 0, 0, 0.08);
      }
    }
    .dropdown .dropdown a .caret {
      float: none;
      margin: 5px 0 0 10px !important;
      border: 4px solid black;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
      background: rgba(0, 0, 0, 0.8);
      a {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .hero {
      padding: 50px 0;
    }
    .hero-nav {
      left: -1px;
      right: -1px;
    }
    .navbar-collapse {
      padding: 0;
      overflow-x: hidden;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .navbar-brand img {
      max-height: 40px;
      width: auto;
      margin: -10px 10px 0 0;
    }
    .nav-invert {
      .navbar-header {
        float: none;
        width: 100%;
      }
      .navbar-toggle {
        float: left;
      }
    }
    .bloc-group .bloc {
      display: block;
      width: 100%;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .bloc-xxl, .bloc-xl, .bloc-lg {
      padding: 40px 0;
    }
    .bloc-sm, .bloc-md {
      padding-left: 0;
      padding-right: 0;
    }
    .a-block {
      padding: 0 10px;
    }
    .btn-dwn {
      display: none;
    }
    .voffset {
      margin-top: 5px;
    }
    .voffset-md {
      margin-top: 20px;
    }
    .voffset-lg {
      margin-top: 30px;
    }
    form {
      padding: 5px;
    }
    .close-lightbox {
      display: inline-block;
    }
    .video-bg-container {
      display: none;
    }
    .blocsapp-device-iphone5 {
      background-size: 216px 425px;
      padding-top: 60px;
      width: 216px;
      height: 425px;
      img {
        width: 180px;
        height: 320px;
      }
    }
  }

  @media (max-width: 420px) {
    .lake-hero-text {
      font-size: 38px;
    }
    .lake-hero-text-sub {
      font-size: 24px;
    }
    .lake-hero-bloc {
      background-size: 1550px auto;
    }
    #bloc-0 h1 {
      font-size: 24px;
    }
    #bloc-6 p {
      line-height: 30px;
    }
  }
}
