#site-header{
  #header-container{
    .right-navi{
      float:right;
      font-size:24px;
      padding:20px;
      cursor:pointer;
    }
  }
  .title{
    display:inline-block;
    color: $brand-primary;
    line-height:24px;
    font-size:24px;
    border-right:2px solid $gray-light;
    font-weight:700;
    padding:25px 25px 25px 10px;
    height:80px;
    @media (max-width: $screen-sm-min){
      padding: 27px 5px 25px 10px;
      border-right:0px;
    }
  }
  .slogan-or-navi{
    display:inline-block;
    padding:20px 25px 20px 20px;
    font-size: 24px;
    font-weight: 300;
    color:$gray;
    a{
        color:$gray;
    }
    .header-label{
        display:inline-block;
        position:relative;
        top:-4px;
        margin-right:5px;
        padding:5px 10px;
        background-color:$brand-primary-light;
        color:white;
        font-size:14px;
        font-weight:300;
    }
  }
  .drop-main-menu{
    background-color:$brand-primary-light;
    width:100%;
    height:750px;
    display:block !important;
    top:0;
    z-index:10; /* 리본보다 더 높게 */
    position:absolute;
    .menu-btn, .slogan-or-navi, #urimanna_menu {
      display:none;
    }
    .title{
      color:#ffffff !important;
      border-color:$brand-primary-light !important;
    }
    .sub-title{
      opacity:0.7;
    }
    .close-btn{
      color:#ffffff;
      display:block !important;
    }
    .menu-list{
      display:block !important;
      color:white;
      margin:0 auto;
      width:170px;
      font-size:36px;
      font-weight:300;
      line-height:60px;
      a{
        color:white;
        padding:20px 0px;
        &:hover{
          font-weight:bold;
        }
      }
      span{
        border-bottom: 1px solid #ffffff;
        font-size: 16px;
      }
    }
  }
  height:80px;
  border-bottom:1px solid $gray-light;
}
section#communities{
  margin:30px 0px 60px 0px;
  .board{
    width:100%;
    .tab-title div{
      padding:15px 25px;
      border:1px solid $gray-base;
      display:inline;
      background-color:white;
      font-size:18px;
      font-weight:500;
      cursor:pointer;
    }
    .active{
      background-color:$gray-dark !important;
      color:$gray-light;
    }
    .tab-body{
      border-top:2px solid $gray-light;
      border-bottom:2px solid $gray-light;
      margin-top:-15px;
      height:200px;
      padding:50px 10px;
      .posts{
        display:inline-table;
        height:80px;
        width:200px;
        font-size:16px;
        line-height:30px;
        margin:0px 20px 0px 0px;
        .datetime{
          color:$gray-darker;
          font-weight:bold;
          display:block;
        }
        a{
          color:$gray-base;
          &:hover{
            color:$gray-darker;
            font-weight:600;
          }
        }
      }
    }
  }
}

/* group main */
.rebootkorea{
  .header-desc{
    margin: 20px 0px;
    font-size: 18px;
    color: lightgray;
    font-weight: 200;
    max-width: 550px;
  }
  .organization-area{
    width: 220px;
    height: 220px;
    display: inline-block;
    margin-right: 10px;
    float: left;
    margin-top: -1px;
    padding: 5px;
    border: 3px solid #d8d8d8;
    background-color: #f7f7f7;
    h4{
      height: 40px;
    }
    .desc{
      background-color: #ffffff;
      padding: 10px;
      height: 100%;
      color: dimgray;
    }
  }
}
.urimanna{
  background-size:cover;
  h2{
    font-size:40px;
    font-weight:bold;
    color:white;
    margin-top:100px;
  }
  p{
    font-size: 18px;
    font-weight: 300;
    color: $gray-light;
    margin-top:20px;
  }
}
.urimanna{
  height:415px;
}
#urimanna_menu{
  display:inline-block;
  font-weight:bold;
  font-size:16px;
  a{
    color:$gray-dark;
    margin-right:40px;
    &:hover{
      color:$brand-primary
    }
  }
  @media (max-width: $screen-sm-min) {
    display:none;
  }
}

.vaw{
  color: white;
  padding: 70px 0px;
  height: 400px;
  h2{
    font-size: 50px;
    font-weight: bold;
  }
  p{
    font-size: 20px;
  }
  @media (max-width: $screen-xs-max) {
    h2{
      font-size: 40px;
    }
    height: 450px;
  }

}
#vaw-organizations{
  .js-organization-area{
    width: 220px;
    height: 220px;
    border: 1px solid $gray-light;
    display: inline-block;
    margin-right: -1px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
    .desc{
      height: 100%;
      display: none;
      padding: 15px;
      font-size: 14px;
      color: dimgray;
      background-color: #f1f1f1;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  .last-organization-area{
    width: 440px;
    height: 220px;
    border: 1px solid $gray-light;
    display:inline-block;
    float:left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 70px 30px;
    background-color: #eeeeee;
    line-height: 25px;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 30px;
    }
  }
}
