.petition-card{
  margin-bottom:30px;
  .card-image{
    width:455px;
    height:300px;
    color:white;
    @media (max-width: $screen-xs-max) {
      width:100%;
    }
    .overlay{
      position:relative;
      height:100%;
      padding:30px 25px;
      background-color:rgba(0,0,0,0.6);
      font-size:24px;
      line-height:36px;
      font-weight:500;
      .title{
        position:absolute;
        bottom:23px;
        word-break:keep-all;
      }
      &:hover{
        background-color:rgba(0,0,0,0.3);
      }
    }
  }
  .card-extra{
    height:80px;
    background-color: rgba(253, 254, 255, 1);
    border: 1px solid rgba(157, 161, 153, 1);
    padding:30px 30px 45px 30px;
    color:rgba(157, 161, 153, 1);
    font-size:14px;

    .progress{
      height:3px;
      margin-bottom:10px;
    }
  }
}
#petition-block {

}
section#petition-header{
  background-color:$brand-primary-dark;
  height:260px;
  text-align:center;
  color:white;
  padding:40px 0px 0px 0px;
  font-size:36px;
  font-weight:bold;
}
section#petitions-in-project {
  h4 {
    font-size: 18px;
    font-weight: 600;
    color: $gray-dark;
    small {
      a {
        font-size: 12px;
        color: $gray;
      }
    }
  }

  .petition-container {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    padding: 30px 0;

    &.petition--cover-image {
      @include texture-darken;
    }

    .content {
      position: relative;
    }

    .petition-title {
      margin-top: 0;
      margin-bottom: 20px;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }
    .petition-body {
      max-height: 4em;
    }

    > a {
      color: $text-color;
    }
    &.petition--cover-image > a {
      color: #fff;
      .petition-body {
        text-shadow: 1px 1px 0px #000;
      }
      .petition-title {
        color: #fff;
        text-shadow: 1px 1px 0px #000;
      }
    }
  }
}
