.section__signs {
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
  padding: $font-size-base * 2;
  .sign-panel {
    &__status__count {
      text-align: right;
      font-size: $font-size-small;
    }
    &__form {
      padding: $font-size-base*0.5;
    }
    &__list {
      margin: $font-size-base/2 0;
      padding: $font-size-base/2 0;
      .sign {
        display: inline-block;
        color: $gray-lightest;
        margin: 2px;
        a {
          color: $gray-lighter;
        }
        .img-user {
          width: $font-size-base * 2;
          height: $font-size-base * 2;
        }
      }
    }
  }
}
