#petition-block {
  .sign-panel {
    padding: $font-size-base*2;
    border-radius: $btn-border-radius-large;
    border: 1px solid $gray-lighter;

    &__status__count {
      text-align: right;
      font-size: $font-size-small;
      color: $text-muted;
    }
    &__form {
      padding: $font-size-base;
      background-color: white;
    }
    &__list {
      margin: $font-size-base/2 0;
      padding: $font-size-base/2 0;
      .sign {
        margin: $font-size-base 0;
      }
    }
  }
}
