.poll-social-card-section {
  background-size: cover;
  width: 1200px;
  height: 630px;
  padding: 0;
  margin: 0;
  display: table;
  position: relative;
  color: white;
  font-family: 'Noto Sans KR';

  .card {
    display: table-cell;
    vertical-align: middle;
    width: 1060px;
    padding-bottom: 100px;

    .info {
      font-size: 30px;
      font-weight: 300;
      position: absolute;
      left: 70px;
      top: 55px;
    }

    .title {
      letter-spacing: -1px;
      word-break: keep-all;
      word-wrap: break-word;
      font-weight: 300;
      margin: 0 70px;
      &.short {
        text-align: center;
        font-size: 80px;
      }
      &.medium {
        text-align: center;
        font-size: 65px;
      }
      &.long {
        font-size: 55px;
      }

      .title-word {
        display: inline-block;
        white-space:nowrap;
      }
    }
  }
}

.poll-card {
  padding: $font-size-base * 1.5 0;
  text-align: center;

  .panel-body {
    padding: 0 15px 14px;
  }
  .poll__title {
    margin-bottom: 14px;
  }
  .vote-panel {
    margin-top: 14px;
    a {
      text-shadow: none;
      font-size: 14px;
      padding: 10px 26px;
      margin-right: 10px;
    }
    .col-xs-6 {
      padding: 0 5px;
    }
    .vote-button {
      display: inline-block;
      margin: 0;
    }
    .btn-choice {
      .choice__label {
        display: inline;
        font-size: $font-size-base;
        font-weight: normal;
      }
      .choice__count {
        display: inline;
        font-size: $font-size-base;
        font-weight: normal;
      }
    }
  }
}

.vote-panel {
  border-radius: $btn-border-radius-large;
  .vote-button {
    display: inline-block;
    margin: 0px 14px;
  }

  .btn-choice {
    .choice__label {
      display: block;
      font-size: $font-size-base;
      font-weight: normal;
    }
    .choice__count {
      display: block;
      font-size: $font-size-h3;
      font-weight: bold;
    }
  }
  .vote__users {
    margin-top: $font-size-small;
    text-align: center;
  }
  .votable-comments-count {
    body.app-polls-show & {
      display: none;
    }
  }
}

.opinion .vote-panel {
  .vote-button {
    margin: 0;
  }
  .btn-choice {
    .choice__count {
      font-size: $font-size-h4;
    }
  }
}
