.cover-section {
  background-size: cover;
  background-position: top center;
  color: #fff;
  text-align: center;
  padding-top: $font-size-base * 8;

  &__campaign a {
    color: $gray-lighter;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    &:hover {
      text-decoration: underline;
    }
  }
  &__title {
    font-size: $font-size-base * 3;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    margin-bottom: $font-size-base * 1.5;
    word-break: keep-all;
  }
  &__users-count span {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: $font-size-base*0.5 $font-size-base;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }

  &__votes {
    background-color: rgba(0,0,0,.15);
    border-radius: $border-radius-base;
    margin: $font-size-base * 4 auto 0;
    padding: $font-size-base * 2;

    .vote-panel {
      border-radius: $btn-border-radius-large;

      .btn-choice {
        .choice__label {
          display: block;
          font-size: $font-size-base;
          font-weight: normal;
        }
        .choice__count {
          display: block;
          font-size: $font-size-h2;
          font-weight: bold;
        }
      }

      .vote__users {
        margin-top: $font-size-small;
        text-align: center;
      }
    }

  }
}

.post-block {
  &__title {
    border-bottom: 1px solid $gray-lighter;
    font-size: $font-size-small;
    margin-bottom: $font-size-base * 0.5;
  }
  &__info {
    color: $text-muted;
  }
  &__image {
    margin: $font-size-base 0;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  &__body {
    margin: $font-size-base*2 0;
    font-size: $font-size-large;
    img {
      max-width: 100%;
    }
  }
  &__like {
    text-align: center;
    margin: $font-size-base*2 0;
  }
  &__share {
    border-top: 1px solid $gray-lighter;
    padding-top: $font-size-base;
  }
  &__comments {
    border-top: 1px solid $gray-lighter;
    border-radius: $btn-border-radius-large;
    margin-top: $font-size-base*2;
    padding-top: $font-size-base;
  }
}

.post-block__signs {
  margin: 0 auto 0;

  .sign-panel {
    &__status__count {
      text-align: right;
      font-size: $font-size-small;
    }
    &__users {
      border-bottom: 1px solid $gray-lighter;
      padding: $font-size-base 0;
      font-size: $font-size-large;
      word-break: keep-all;
      .sign {
        display: inline-block;
        color: $gray-lightest;
        margin: 2px;
        a {
          color: $gray-lighter;
        }
        .img-user {
          width: $font-size-base * 2;
          height: $font-size-base * 2;
        }
      }
    }
    &__list {
      border-bottom: 1px solid $gray-lighter;
      padding: $font-size-base 0;
    }
    &__form {
      padding: $font-size-base 0;
    }
  }
}


.post-group {
  .list-group-item {
    .post__status {
      float: right;
      font-weight: bold;
    }
    .post__campaign {
      font-size: $font-size-small * 0.9;
      color: $gray;
      margin-bottom: 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .post__meta {
      color: $text-muted;
      font-size: $font-size-small;
    }
  }
}

