.project-intro {
    padding-top: 14px;
    .project-subtitle {
        font-weight: 900;
        color: $gray;
    }
    .project-video {
        border: 1px solid #c0c0c2;
        padding: 10px 0;
        margin: 0 0 14px;
    }
    .project-desc {
        color: $gray;
    }
}

.project-card {
  height: 150px;
  margin: 0 auto $font-size-base;
  position: relative;
  .overlay {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &__title {
    color: #fff;
    font-size: $font-size-h3;
    font-weight: 500;
    line-height: 1.2;
    padding: $font-size-base*2.5 $font-size-base*2;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    word-break: keep-all;
    width: 100%;
  }
  &__meta {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: $font-size-h4;
    font-weight: 500;
    line-height: 1.2;
    padding: $font-size-base*1.5;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    width: 100%;
  }
}
.project-category-card{
    height:200px;
    background-size: cover;
    .title{
        height: 100%;
        padding: 40px 10px;
        background-color: rgba(0,0,0,0.6);
        color: white;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        &:hover{
            background-color: rgba(0,0,0,0.3);
        }
        @media (max-width: $screen-xs-max) {
            font-size: 40px;
            padding: 65px 10px;
        }
    }
}
