.project-intro {
    padding-top: 14px;
    .project-subtitle {
        font-weight: 900;
        color: $gray;
    }
    .project-video {
        border: 1px solid #c0c0c2;
        padding: 10px 0;
        margin: 0 0 14px;
    }
    .project-desc {
        color: $gray;
    }
}

.project-card {
    min-height: 340px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0px 5px 0px 0px;
    font-size: 16px;
    color: rgba(157, 161, 153, 1);
    .project-title {
        color: dimgray;
        font-size: 24px;
        margin-top: 20px;
        font-weight: bold;
        &:hover {
            color: $brand-primary-light !important;
        }
    }
    @media (max-width: $screen-xs-max) {
        width: 100% !important;
    }
}


/*.project-card {
  .panel-body {
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    .project__title {
      color: #fff;
      text-shadow: 0px 1px 1px #000;
    }
    .project__meta {
      color: #fff;
      margin-top: 7px;
      font-size: $font-size-small;
      text-shadow: 0px 1px 1px #000;
      > span + span {
        margin-left: 6px;
      }
    }
  }
}*/