#project-header-block {
  background-position: top center;
  background-size: cover;
  color: $gray-lightest;
  padding: $font-size-base*4 0;
  .badge {
    background-color: $gray-light;
    color: $gray-dark;
    font-weight: normal;
    padding-top: 5px;
  }
  a {
    color: #fff;
  }
  small a {
    color: $gray-lighter;
  }
  .project__title {
    @include text-stroke();
  }
  .project__meta {
    font-size: $font-size-small;
    text-shadow: 1px 1px 3px #000;
    span {
      margin-right: $font-size-base;
    }
  }
  .project__body {
    text-shadow: 1px 1px 3px #000;
  }
}

.project-card {
  .panel-body {
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    .project__title {
      color: #fff;
      text-shadow: 0px 1px 1px #000;
    }
    .project__meta {
      color: #fff;
      margin-top: 7px;
      font-size: $font-size-small;
      text-shadow: 0px 1px 1px #000;
    }
  }
}
