.speaker-section{
  background-position: top center;
  background-size: cover;
  background: #75a6d8; /* Old browsers */
  background: -moz-linear-gradient(left, #75a6d8 0%, #7453ed 50%, #d3329b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #75a6d8 0%,#7453ed 50%,#d3329b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #75a6d8 0%,#7453ed 50%,#d3329b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a6d8', endColorstr='#d3329b',GradientType=1 ); /* IE6-9 */
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;

  img.speaker-img{
    border: 5px solid rgba(255,255,255,0.5);
  }
  .media-heading{
    font-weight: bold;
  }

  .media-body{
    padding: 5px 10px;
    a{
      color: white;
    }
    p{
      font-weight: 200;
      font-size: 18px;
      line-height: 24px;
      span{
        font-weight: 500;
      }
    }
  }
}
.speaker-opinion{
  background-color: $gray-light;
  padding: 10px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.speaker-panel{
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  .panel-body{
    padding: 15px 10px 5px 10px;
  }
  .request-speaker-btn{
    font-size: 14px;
    color: $brand-primary;
    font-weight: bold;
  }
  .speaker-name{
    font-size: 16px;
    font-weight: bold;
    span{
      display: block;
      font-size: 14px;
      font-weight: 200;
      color: $gray;
      line-height: 20px;
    }
  }
  .request-speaker{
    border-top: 1px solid $gray-light;
    padding: 8px 0px;
  }
}
