.speaker-section{
  background-position: top center;
  background-size: cover;
  background-color: $gray-darker;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;

  img.speaker-img{
    border: 10px solid white;
  }

  .media-body{
    padding: 5px 10px;
    a{
      color: white;
    }
  }

}
