.options-panel {
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  padding: 24px;
  > table {
    width: 100%;

    td.checkbox-btn {
      width: 24px;
      span.closed {
        color: $gray-lighter;
      }
    }
    td.body {
      padding: 2px 0;
    }
    td.feedbacks-count {
      width: 48px;
      text-align: right;
    }

    .chart {
      border-radius: 4px;
      border: 1px solid $gray-lighter;
      &.active {
        border-color: $brand-primary;
      }

      .chart__bar {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: $brand-primary-light;
        padding: 3px 0;
      }

      .chart__label {
        color: $gray;
        white-space: nowrap;
        padding: 0 6px;
      }
      &.active .chart__label {
        color: $gray-dark;
      }
    }

    .no-chart__label {
      padding: 4px 6px;
    }
  }
  > .footer {
    padding-top: 12px;
    border-top: 1px solid #eaeaeb;
    margin-top: 12px;
  }
}
