.options-panel {
  background-color: $gray-lightest;
  border: 1px solid $gray-lighter;
  body.app-projects-show & {
    border: none;
  }
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  > .body > table {
    width: 100%;

    td.checkbox-btn {
      width: 24px;
      span.closed {
        color: $gray-lighter;
      }
    }
    td.body {
      padding: 2px 0;
    }
    td.feedbacks-count {
      width: 48px;
      text-align: right;
    }

    .chart {
      border-radius: 4px;
      border: 1px solid $gray-lighter;
      &.active {
        border-color: $brand-primary;
      }

      .chart__bar {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: $brand-primary-light;
        padding: 3px 0;
      }

      .chart__label {
        color: $gray;
        white-space: nowrap;
        padding: 0 6px;
      }
      &.active .chart__label {
        color: $gray-dark;
      }
    }

    .no-chart__label {
      padding: 4px 6px;
    }
  }
  > .header {
    padding-bottom: 12px;
    border-bottom: 1px solid #eaeaeb;
    margin-bottom: 12px;
    font-weight: bold;

    h4 a {
      body.app-surveys-show & {
        font-size: $font-size-base;
        font-weight: bold;
      }
      color: $gray;
    }
    .project {
      body.app-projects-show &,
      body.app-surveys-show &, {
        display: none;
      }
    }
  }
  > .footer {
    padding-top: 12px;
    border-top: 1px solid #eaeaeb;
    margin-top: 12px;
  }
  > .body, > .header, > .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.survey-social-card-section {
  background-size: cover;
  width: 1200px;
  height: 630px;
  padding: 0;
  margin: 0;
  display: table;
  position: relative;
  color: white;
  font-family: 'Noto Sans KR';

  .card {
    display: table-cell;
    vertical-align: middle;
    width: 1060px;
    padding-bottom: 50px;

    .info {
      font-size: 30px;
      font-weight: 300;
      position: absolute;
      left: 70px;
      top: 55px;
    }

    .title {
      letter-spacing: -1px;
      word-break: keep-all;
      word-wrap: break-word;
      font-weight: 300;
      margin: 0 70px;
      &.short {
        text-align: center;
        font-size: 80px;
      }
      &.medium {
        text-align: center;
        font-size: 65px;
      }
      &.long {
        font-size: 55px;
      }

      .title-word {
        display: inline-block;
        white-space:nowrap;
      }
    }

    .options {
      padding: 0 180px;
      font-size: 40px;
      margin-top: 20px;

      .option {
        .checkbox-square {
          display: inline-block;
          background-color: transparent;
          width: 1em;
          height: 1em;
          border: 2px solid #fff;
          border-radius: 4px;
          vertical-align: middle;
        }

        .option-word {
          display: inline-block;
          white-space:nowrap;
        }
      }
      .option + .option {
        margin-top: 20px;
      }
    }
  }
}
