.img-user {
  @extend .img-circle;
  background-size: cover;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  display: inline-block;

  h2 & {
    height: 30px;
    width: 30px;
    vertical-align: top;
  }
}

.skill-button {
  margin-left: 1rem;
  color: white;
  background-color: rgb(149,114,210);
}

.skill-button-temp {
  margin-left: 1rem;
  color: rgb(149,114,210);
  background-color: white;
}

.profile-thumbnail {
  text-align: center;
}
// .img-user {
//   width: 50px;
//   height: 50px;
// }
