.townhall-widget{
  padding: 10px;
  .title{
    font-weight: 200;
    line-height: 40px;
    font-size: 16px;
  }
  .panel-body{
    background-color: $gray-lightest;
  }
  .option{
    padding:5px 0px;
    &__title{
      font-weight: bold;
    }
    .chart{
      &__bar{
        background-color: #713f95;
      }
    }
  }
}
