@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'base';

/* components */
@import 'redactor';
@import 'jssocials';
@import 'components';

/* blocks & panels */
@import 'campaigns';
@import 'users';
@import 'posts';
@import 'petitions';
@import 'polls';
@import 'wikis';
@import 'archives';
@import 'memorials';
@import 'events';
@import 'comments';

#site-header {
}

#site-hero-block {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), image_url('seo.png');
  margin-top: -30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .jumbotron {
    background-color: transparent;
    border: none;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    a {
      color: #fff;
    }
    .btn {
      text-shadow: none;
    }
  }
}
