@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'select2';
@import 'select2-bootstrap';
@import 'magnific-popup';
@import 'jquery.webui-popover';

@import 'base';

/* components */
@import 'redactor';
@import 'jssocials';
@import 'components';

/* blocks & panels */
@import 'projects';
@import 'users';
@import 'posts';
@import 'petitions';
@import 'polls';
@import 'surveys';
@import 'wikis';
@import 'archives';
@import 'memorials';
@import 'events';
@import 'comments';
@import 'articles';
@import 'player';

#site-header {
}

#site-hero-block {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), image_url('seo.png');
  margin-top: -30px;
  margin-bottom: $font-size-base*2;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .carousel-inner .item {
    background-size: cover;
    background-position: center center;
  }

  .jumbotron {
    background-color: transparent;
    border: none;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    h2 {
      font-weight: 600;
    }
    a {
      color: #fff;
    }
    .btn {
      text-shadow: none;
    }
  }
}
