@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'base';

/* components */
@import 'redactor';
@import 'jssocials';
@import 'components';

/* blocks & panels */
@import 'users';
@import 'posts';
@import 'petitions';
@import 'polls';
@import 'wikis';
@import 'events';
@import 'comments';

#site-header {
}

#site-hero-block {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), image_url('seo.png');
  margin-top: -30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .jumbotron {
    background-color: transparent;
    border: none;
    color: #fff;
    text-shadow: 0 1px 0 #999,
               0 2px 0 #888,
               0 3px 0 #777,
               0 4px 0 #666,
               0 5px 0 #606060;
    a {
      color: #fff;
    }
    .btn {
      text-shadow: none;
    }
  }
}

#campaign-header-block {
  .jumbotron {
    position: relative;
    background-position: center center;
    background-size: cover;
    border: none;
    color: $gray-lightest;
    .badge {
      background-color: $gray-light;
      color: $gray-dark;
      font-weight: normal;
      padding-top: 5px;
    }
    a {
      color: #fff;
    }
    small a {
      color: $gray-lighter;
    }
    .campaign__meta {
      font-size: $font-size-small;
      span {
        margin-right: $font-size-base;
      }
    }
  }
}

#archive-header-block {
  .jumbotron {
    background-color: $gray-dark;
    background-size: cover;
    border: none;
    color: $gray-lightest;
    text-shadow: 0 0 6px rgba(0,0,0,.5);

    .badge, a {
      text-shadow: none;
    }
    .badge {
      background-color: $gray-light;
      color: $gray-dark;
      font-weight: normal;
      padding-top: 5px;
    }
    a {
      color: $gray-lightest;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

