@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'base';

@import 'users';

/* blocks */

#site-header {
  .navbar-brand {
    background-image: image-url('logo.png');
    background-size: cover;
    width: 154px;
    height: 23px;
    padding: 0;
    margin: 18px 15px 0;
    text-indent: -999px;
    overflow: hidden;
  }
}

#campaign-header-block {
  .jumbotron {
    background-color: $gray-dark;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    border: none;
    color: $gray-lightest;
    text-shadow: 0 0 6px rgba(0,0,0,.5);
    .badge, a {
      text-shadow: none;
    }
  }
  .badge {
    background-color: $gray-light;
    color: $gray-dark;
    font-weight: normal;
    padding-top: 5px;
  }
}

#archive-header-block {
  .jumbotron {
    background-color: $gray-dark;
    background-size: cover;
    border: none;
    color: $gray-lightest;
    text-shadow: 0 0 6px rgba(0,0,0,.5);

    .badge, a {
      text-shadow: none;
    }
    .badge {
      background-color: $gray-light;
      color: $gray-dark;
      font-weight: normal;
      padding-top: 5px;
    }
    a {
      color: $gray-lightest;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.post-block {
  &__title {
    border-bottom: 1px solid $gray-lighter;
    font-size: $font-size-small;
    margin-bottom: $font-size-base * 0.5;
  }
  &__info {
    color: $text-muted;
    font-size: $font-size-small;
  }
  &__body {
    margin: $font-size-base*2 0;
  }
  &__like {
    text-align: center;
    margin: $font-size-base*2 0;
  }
  &__comments {
    background-color: $gray-lightest;
    padding: $font-size-base*2;
    border-radius: $btn-border-radius-large;
  }
}