%section#footer
  .container
    %span{style:"padding-right:33px;border:1px solid $gray"}
      contact@parti.xyz
    %span{style:"padding-left:33px;"}
      powered by 가브크래프트
    .pull-right{style:"font-size:22px;"}
      = link_to 'https://www.facebook.com/wouldyouparty.org/', target: '_blank' do
        %i.fa.fa-facebook-square
      = link_to 'https://twitter.com/wouldyouparty', target: '_blank' do
        %i.fa.fa-twitter-square
      = link_to 'https://medium.com/우리가-주인이당', target: '_blank' do
        %i.fa.fa-medium
