%section#site-footer
  .ui.menu
    .ui.container
      = link_to root_path, class: 'right item' do
        직접 민주주의 플랫폼
        = image_tag 'favicons/favicon-32x32.png', width: 18
        %strong
          우주당
