#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8&appId=743728572394700";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

%section#site-footer
  %nav.navbar.navbar-inverse.navbar-fixed-bottom{ style: 'margin: 0;' }
    .container
      .row
        .col-xs-2
          = link_to Campaign.model_name.human, campaigns_path
