#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8&appId=743728572394700";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

%section#site-footer
  %nav.navbar.navbar-inverse{ style: 'margin: 0;' }
    .container
      %ul.nav.navbar-nav
        %li
          = link_to 'https://www.facebook.com/groups/1820856674866416/', target: '_blank' do
            %i.fa.fa-facebook-official
            페이스북 그룹
        %li
          = link_to 'http://telegram.me/govcraft', target: '_blank' do
            %i.fa.fa-telegram
            텔레그램

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'http://parti.xyz', target: '_blank' do
            Presented by
            %strong 빠흐띠
