%section#site-header
  #header-container.container-fluid
    = link_to root_url(subdomain: root_subdomain) do
      .title
        우리가주인이당
    .sub-title
      Democracy, everyday
    .right-navi.menu-btn{onclick:"javascript:toggleMenuList();"}
      %i.fa.fa-bars
    .right-navi.close-btn{onclick:"javascript:toggleMenuList();", style:"display:none;"}
      %i.fa.fa-times
    .menu-list{style:"display:none;"}
      %a{href:""}
        단체정보
      %br
      %a{href:""}
        프로젝트
      %br
      %a{href:""}
        이벤트
      %br
      %a{href:""}
        서명
      %br
      %a{href:""}
        커뮤니티
      %br
      %br
      %span
        member
      %br
      %a{href:""}
        로그인
      %br
      %a{href:""}
        회원가입
  :javascript
    function toggleMenuList(){
      document.getElementById("header-container").classList.toggle("drop-main-menu");
    }
