%section#messenger-balloon
  = link_to 'http://m.me/wouldyouparty.org', target: '_blank', role: 'button', data: { toggle: 'popover', trigger: 'focus', placement: "top", content: '궁금하거나 제안이 있으세요?'} do
    = image_tag 'btn_messenger.png'
