@import "variables";
@import "organizations/vaw/variables_vaw";
@import "organizations/vaw/vaw";

.vaw{
  color: white;
  padding: 70px 0px;
  height: 400px;
  h2{
    font-size: 50px;
    font-weight: bold;
  }
  p{
    font-size: 20px;
  }
  @media (max-width: $screen-xs-max) {
    h2{
      font-size: 40px;
    }
    height: 450px;
  }

}
#vaw-organizations{
  .js-organization-area{
    width: 220px;
    height: 220px;
    border: 1px solid $gray-light;
    display: inline-block;
    margin-right: -1px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
    .desc{
      height: 100%;
      display: none;
      padding: 15px;
      font-size: 14px;
      color: dimgray;
      background-color: #f1f1f1;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  .last-organization-area{
    width: 440px;
    height: 220px;
    border: 1px solid $gray-light;
    display:inline-block;
    float:left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 70px 30px;
    background-color: #eeeeee;
    line-height: 25px;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 30px;
    }
  }
}
