- if user_signed_in?
  - report_label = capture do
    신고
    - if reportable.reports_count > 0
      = "(#{reportable.reports_count})"
  - if reportable.reported_by(current_user)
    = report_label
  - else
    = link_to report_label, reports_path(reportable_id: reportable, reportable_type: reportable.class.name), method: :post, data: { confirm: '신고하시겠습니까?' }


