%section.page-block
  .ui.container.grid
    .column
      %h3
        = Memorial.model_name.human
        %small= link_to '추모관 열기', new_memorial_path

      .ui.four.column.grid.doubling.stackable
        = render @memorials
