%section.cover-section{style: "background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5))"}
  .container
    %h1.cover-section__title
      = link_to speaker_path(speaker) do
        = image_tag speaker.image.xs.url
        = speaker.name
      %small{ style: 'color: #fff' }= speaker.organization
