- content_for :header do
  %div
- content_for :footer do
  %section{ 'data-iframe-height': true }
    %nav.navbar.navbar-default{ style: 'margin: 0;' }
      .container
        %ul.nav.navbar-nav.navbar-right
          %li.text-right
            = link_to root_url, target: '_blank' do
              powered by
              세상을 바꾸는 시민들의 정치 플랫폼
              = image_tag 'favicons/favicon-32x32.png', width: 18
              %strong
                가브크래프트
- content_for :messenger do
  %div
:css
  body { min-width: 0 !important;, padding-top: 0 !important; }
= render file: 'layouts/application'
